<ion-header>
    <ion-navbar>
        <ion-title>
            Favourite
        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only menuToggle>
                <ion-icon name='person'></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="items; else noItems">
        <div *ngFor="let item of items">
            <p padding-top>{{ item.name }}</p>
        </div>
    </div>
    <ng-template #noItems>
        <div class="block-center opacity">
            <div>
                <h3>There is no one item</h3>
            </div>
        </div>
    </ng-template>
</ion-content>
