.toast-danger {
    .toast-wrapper {
        background-color: red;
        color: white;
    }
}

.toast-success {
    .toast-wrapper {
        background-color: green;
        color: white;
    }
}

.toast-alert {
    .toast-wrapper {
        background-color: orange;
        color: white;
    }
}

.toast-info {
    .toast-wrapper {
        background-color: dodgerblue;
        color: white;
    }
}
