<ion-card *ngIf="item">
    <ion-row>
        <ion-col col-12>
            <ion-row>
                <ion-col col-4 (click)="openPage();">
                    <img [src]="item.photoUrl" alt="ItemPicture">
                </ion-col>
                <ion-col col-6 (click)="openPage();">
                    <h3 padding-top padding-left>
                        <b>{{ item.name }}</b>
                    </h3>
                    <div class="float-bot">
                        <p padding-left>
                            Price: {{ item.price }}
                        </p>
                    </div>
                </ion-col>
                <ion-col col-2 (click)="presentActionSheet()">
                    <button class="block-center" ion-button icon-only clear color="dark">
                        <ion-icon name="more"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-card>
